.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 60px; 
}
.main {
  flex: 0 0 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
    /* background-color: white; */

} 
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  width: 350px;
  height: 300px;
  gap: 15px;
  margin-top: 50px;
} 
.mainContent {
  text-align: center;
}
.mainContent h2 {
  color: #d1803d;
  margin-bottom: 20px;
}
.button {
  text-align: center;
  align-items: center;
}
